body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.auth-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

input,
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background: #00b894;
    color: white;
    cursor: pointer;
}

.movie-card {
    background: #1f1f1f;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.movie-image {
    width: 200px;
    border-radius: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}